<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <label><%= heroine.name %></label>
      <%=link_to heroine.super_name, heroines_url(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
